body{
    font-size: 20px;
    background-color: pink;
}
@media screen and (min-width:320px) and (max-width:425px){
body{
    font-size: 10px;
    background-color: lightcoral;
}
img{
    width: 150px;
}
}
@media screen and (min-width:426px) and (max-width:768px){
    body{
        font-size: 20px;
        background-color: lightblue;
    }
    img{
        width: 150px;
    }
    }
    